## Python
# AWS Lamda zip file
lambda/lambda.zip
# Virtual Environments
venv/
venv-docker/

## Terraform

# Config
terraform/terraform.tfvars
# Local .terraform directories
**/.terraform/*
# .tfstate files
*.tfstate
*.tfstate.*